<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.amount}"></td>
        </tr>

    </table>

    <table>
        <tr>
            <td><label style="font-size: 12px;">Total Amount:</label></td>
            <td><span style="font-size: 12px; font-weight: 500;" th:text="${total_amount}"></span></td>
        </tr>
        <tr>
            <td><label style="font-size: 12px;">Shipping Address:</label></td>
            <td><span style="font-size: 12px; font-weight: 500;" th:text="${address}"></span></td>
        </tr>
    </table>

</body>
</html>